[Unit]
Description=Daily ZFS Backup
Requires=plyushkin@.service

[Timer]
Unit=plyushkin@.service
OnCalendar=*-*-* 04:00:00

[Install]
WantedBy=timers.target
